<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>WizardJump/CharaWizardJump_00002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{153,270}}</string>
        <key>offset</key>
        <string>{-6.5,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{173,128},{153,270}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardJump/CharaWizardJump_00003.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,0},{154,272}}</string>
        <key>offset</key>
        <string>{-5,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{174,127},{154,272}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardJump/CharaWizardJump_00004.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,0},{153,274}}</string>
        <key>offset</key>
        <string>{-3.5,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{176,126},{153,274}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardJump/CharaWizardJump_00001.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,0},{154,275}}</string>
        <key>offset</key>
        <string>{-3,-7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{176,126},{154,275}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardJump/CharaWizardJump_00005.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,0},{154,276}}</string>
        <key>offset</key>
        <string>{-3,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{176,125},{154,276}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardJump/CharaWizardJump_00000.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,0},{155,278}}</string>
        <key>offset</key>
        <string>{-1.5,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{177,124},{155,278}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardJump/CharaWizardJump_00006.png</key>
      <dict>
        <key>frame</key>
        <string>{{923,0},{155,278}}</string>
        <key>offset</key>
        <string>{-2.5,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{176,124},{155,278}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardJump/CharaWizardJump_00007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1078,0},{155,278}}</string>
        <key>offset</key>
        <string>{-1.5,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{177,124},{155,278}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>CharacterJump.png</string>
      <key>size</key>
      <string>{1233,278}</string>
      <key>textureFileName</key>
      <string>CharacterJump</string>
    </dict>
  </dict>
</plist>
