<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>BlueFlower1/BlueFlower_00000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00001.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,0},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1536,0},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00003.png</key>
      <dict>
        <key>frame</key>
        <string>{{2304,0},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00004.png</key>
      <dict>
        <key>frame</key>
        <string>{{3072,0},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00005.png</key>
      <dict>
        <key>frame</key>
        <string>{{3840,0},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00006.png</key>
      <dict>
        <key>frame</key>
        <string>{{4608,0},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00007.png</key>
      <dict>
        <key>frame</key>
        <string>{{5376,0},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00008.png</key>
      <dict>
        <key>frame</key>
        <string>{{6144,0},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,768},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00010.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,768},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1536,768},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00012.png</key>
      <dict>
        <key>frame</key>
        <string>{{2304,768},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00013.png</key>
      <dict>
        <key>frame</key>
        <string>{{3072,768},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00014.png</key>
      <dict>
        <key>frame</key>
        <string>{{3840,768},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00015.png</key>
      <dict>
        <key>frame</key>
        <string>{{4608,768},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00016.png</key>
      <dict>
        <key>frame</key>
        <string>{{5376,768},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00017.png</key>
      <dict>
        <key>frame</key>
        <string>{{6144,768},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00018.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1536},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00019.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,1536},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00020.png</key>
      <dict>
        <key>frame</key>
        <string>{{1536,1536},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00021.png</key>
      <dict>
        <key>frame</key>
        <string>{{2304,1536},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00022.png</key>
      <dict>
        <key>frame</key>
        <string>{{3072,1536},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00023.png</key>
      <dict>
        <key>frame</key>
        <string>{{3840,1536},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00024.png</key>
      <dict>
        <key>frame</key>
        <string>{{4608,1536},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00025.png</key>
      <dict>
        <key>frame</key>
        <string>{{5376,1536},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00026.png</key>
      <dict>
        <key>frame</key>
        <string>{{6144,1536},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00027.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2304},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00028.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,2304},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00029.png</key>
      <dict>
        <key>frame</key>
        <string>{{1536,2304},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00030.png</key>
      <dict>
        <key>frame</key>
        <string>{{2304,2304},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00059.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,0},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00058.png</key>
      <dict>
        <key>frame</key>
        <string>{{1536,0},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00057.png</key>
      <dict>
        <key>frame</key>
        <string>{{2304,0},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00056.png</key>
      <dict>
        <key>frame</key>
        <string>{{3072,0},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00055.png</key>
      <dict>
        <key>frame</key>
        <string>{{3840,0},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00054.png</key>
      <dict>
        <key>frame</key>
        <string>{{4608,0},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00053.png</key>
      <dict>
        <key>frame</key>
        <string>{{5376,0},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00052.png</key>
      <dict>
        <key>frame</key>
        <string>{{6144,0},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00051.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,768},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00050.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,768},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00049.png</key>
      <dict>
        <key>frame</key>
        <string>{{1536,768},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00048.png</key>
      <dict>
        <key>frame</key>
        <string>{{2304,768},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00047.png</key>
      <dict>
        <key>frame</key>
        <string>{{3072,768},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00046.png</key>
      <dict>
        <key>frame</key>
        <string>{{3840,768},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00045.png</key>
      <dict>
        <key>frame</key>
        <string>{{4608,768},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00044.png</key>
      <dict>
        <key>frame</key>
        <string>{{5376,768},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00043.png</key>
      <dict>
        <key>frame</key>
        <string>{{6144,768},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00042.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1536},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00041.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,1536},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00040.png</key>
      <dict>
        <key>frame</key>
        <string>{{1536,1536},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00039.png</key>
      <dict>
        <key>frame</key>
        <string>{{2304,1536},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00038.png</key>
      <dict>
        <key>frame</key>
        <string>{{3072,1536},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00037.png</key>
      <dict>
        <key>frame</key>
        <string>{{3840,1536},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00036.png</key>
      <dict>
        <key>frame</key>
        <string>{{4608,1536},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00035.png</key>
      <dict>
        <key>frame</key>
        <string>{{5376,1536},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00034.png</key>
      <dict>
        <key>frame</key>
        <string>{{6144,1536},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00033.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2304},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00032.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,2304},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
      <key>BlueFlower1/BlueFlower_00031.png</key>
      <dict>
        <key>frame</key>
        <string>{{1536,2304},{768,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{768,768}}</string>
        <key>sourceSize</key>
        <string>{768,768}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>BlueFlower1.png</string>
      <key>size</key>
      <string>{6912,3072}</string>
      <key>textureFileName</key>
      <string>BlueFlower1</string>
    </dict>
  </dict>
</plist>
