<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>WizardIdle/Chara - BlueIdle00006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{155,280}}</string>
        <key>offset</key>
        <string>{-0.5,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{178,122},{155,280}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardIdle/Chara - BlueIdle00007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,280},{155,280}}</string>
        <key>offset</key>
        <string>{-0.5,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{178,122},{155,280}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardIdle/Chara - BlueIdle00008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,560},{155,280}}</string>
        <key>offset</key>
        <string>{-0.5,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{178,122},{155,280}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardIdle/Chara - BlueIdle00009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,840},{155,280}}</string>
        <key>offset</key>
        <string>{-0.5,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{178,122},{155,280}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardIdle/Chara - BlueIdle00010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1120},{155,280}}</string>
        <key>offset</key>
        <string>{-0.5,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{178,122},{155,280}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardIdle/Chara - BlueIdle00002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1400},{155,279}}</string>
        <key>offset</key>
        <string>{-0.5,-6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{178,123},{155,279}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardIdle/Chara - BlueIdle00003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1679},{155,279}}</string>
        <key>offset</key>
        <string>{-0.5,-6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{178,123},{155,279}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardIdle/Chara - BlueIdle00004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1958},{155,279}}</string>
        <key>offset</key>
        <string>{-0.5,-6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{178,123},{155,279}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardIdle/Chara - BlueIdle00005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2237},{155,279}}</string>
        <key>offset</key>
        <string>{-0.5,-6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{178,123},{155,279}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardIdle/Chara - BlueIdle00001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2516},{154,279}}</string>
        <key>offset</key>
        <string>{-1,-6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{178,123},{154,279}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardIdle/Chara - BlueIdle00000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2795},{154,278}}</string>
        <key>offset</key>
        <string>{-1,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{178,124},{154,278}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardIdle/Chara - BlueIdle00019.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2516},{154,279}}</string>
        <key>offset</key>
        <string>{-1,-6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{178,123},{154,279}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardIdle/Chara - BlueIdle00018.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1400},{155,279}}</string>
        <key>offset</key>
        <string>{-0.5,-6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{178,123},{155,279}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardIdle/Chara - BlueIdle00017.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1679},{155,279}}</string>
        <key>offset</key>
        <string>{-0.5,-6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{178,123},{155,279}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardIdle/Chara - BlueIdle00016.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1958},{155,279}}</string>
        <key>offset</key>
        <string>{-0.5,-6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{178,123},{155,279}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardIdle/Chara - BlueIdle00015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2237},{155,279}}</string>
        <key>offset</key>
        <string>{-0.5,-6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{178,123},{155,279}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardIdle/Chara - BlueIdle00014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{155,280}}</string>
        <key>offset</key>
        <string>{-0.5,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{178,122},{155,280}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardIdle/Chara - BlueIdle00013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,280},{155,280}}</string>
        <key>offset</key>
        <string>{-0.5,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{178,122},{155,280}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardIdle/Chara - BlueIdle00012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,560},{155,280}}</string>
        <key>offset</key>
        <string>{-0.5,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{178,122},{155,280}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>WizardIdle/Chara - BlueIdle00011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,840},{155,280}}</string>
        <key>offset</key>
        <string>{-0.5,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{178,122},{155,280}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>CharacterIdle.png</string>
      <key>size</key>
      <string>{155,3073}</string>
      <key>textureFileName</key>
      <string>CharacterIdle</string>
    </dict>
  </dict>
</plist>
